.input {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	gap: 0.4em;

	&__label {
		font-weight: bold;
		font-size: 0.8em;
	}

	&__container {
		width: 100%;
		height: 2.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.0625em solid var(--color);
		border-radius: var(--border-radius);
		gap: 0.5em;

		position: relative;

		&--disabled {
			opacity: 0.5;
			cursor: not-allowed;

			&:hover {
				background-color: var(--secondary-color);
			}
		}
	}

	&__iconDisabled {
		--size: 0.7em;

		width: var(--size);
		height: var(--size);
		position: absolute;
		top: calc(var(--size) / (-2));
		right: calc(var(--size) / (-2));
	}

	&__input {
		width: 100%;
		height: 100%;
		border: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		border-radius: var(--border-radius);
	}

	&__contentIcon {
		width: 3.125em;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 0.0625em solid var(--border-color);
	}

	&__icon {
		--size: 1.5em;

		width: var(--size);
		height: var(--size);

		&--error {
			color: var(--accent-color);
		}
	}

	&__error {
		border: 0.0625em solid var(--accent-color);
	}

	&__containerError {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 0.8em;
		color: var(--accent-color);
	}
}
