.switch {
	width: 3.125em;
	height: 1.875rem;
	font-size: 1rem;
	border-radius: 1.25em;
	background-color: var(--color-gray);
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 1.25em;
		height: 1.25em;
		background-color: var(--secondary-color);
		border-radius: 100%;
		transform: translateX(calc(-100% + 0.625em));
		transition: transform 0.3s;
	}
	&--active {
		background-color: var(--primary-color);
		&::after {
			transform: translateX(calc(100% - 0.625em));
		}
	}
}
