.optionsUser {
	width: 100%;
	min-height: inherit;
	display: grid;
	grid-template-areas: 'menu' 'options';
	grid-template-rows: auto 1fr;
	justify-items: center;
	align-items: center;
	gap: 1em;
	padding: 0 1em;

	// &__cintillo {
	// 	grid-area: cintillo;
	// 	height: 6.25em;
	// }

	&__menu {
		grid-area: menu;
	}

	&__options {
		grid-area: options;
	}
}
