.login {
	font-size: 1rem;
	&__form {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}

	&__linksContainer {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__links {
		color: var(--color-darker);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.2em;
	}

	&__linksIcon {
		--size: 1em;

		width: var(--size);
		height: var(--size);
	}
}
